@model IEnumerable<ContactsWebApp.Models.Contacts>

@{
    ViewBag.Title = "Index";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MainName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContactType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentNumber)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
